.main .main-center .formAdd{
    display: flex;
    flex-direction: column;
    margin: 0 -20px;
}

p.formP {
    text-align: left;
    font-size: 12px;
    line-height: 20px;
    max-width: 158px;
    min-width: 158px;
    
}

.main .main-center .formAdd .CategoriesArea{
    display: flex;
}

.main .main-center .formAdd .CategoriesArea .selectCategories{
    border-radius: 4px;
    background-color: white;
    color: #9A9A9A;
    line-height: 20px;
    padding: 4px 2px;
    margin: 4px 2px;
    border: 2px solid #e7e7e7;
    transition-duration: 1s;
    width: 110px;
}

.main .main-center .formAdd .CategoriesArea .selectCategories:hover{ 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}    

.main .main-center .formAdd .nameReceptArea{
    display: flex;
}

.main .main-center .formAdd .nameReceptArea .nameRecept{
    border-radius: 4px;
    background-color: white;
    color: #9A9A9A;
    line-height: 20px;
    padding: 2px 2px;
    margin: 4px 2px;
    border: 2px solid #e7e7e7;
    
    width: 350px;
    
    
}

.main .main-center .formAdd .nameReceptArea .nameRecept::placeholder{
    color: #9A9A9A;
    opacity: 0.5;
}

.main .main-center .formAdd .descriptionArea{
    display: flex;
}

.main .main-center .formAdd .descriptionArea .descriptionRecept{
    resize: none;
    border-radius: 4px;
    background-color: white;
    color: #9A9A9A;
    line-height: 20px;
    padding: 2px 2px;
    margin: 4px 2px;
    border: 2px solid #e7e7e7;
    width: 350px;
    height: 150px;
    
}

.main .main-center .formAdd .descriptionRecept::placeholder{
    color: #9A9A9A;
    opacity: 0.5;
}

.main .main-center .formAdd .imageReceptArea{
    display: flex;
}

.main .main-center .formAdd .imageReceptArea .imageRecept{
    
}

.main .main-center .formAdd .add_indigrients{
    display: flex;
    flex-direction: column;
}

.main .main-center .formAdd .add_indigrients .add_indig_button{
    display: flex;
    flex-direction: row;
}
.main .main-center .formAdd .add_indigrients .add_indig_button .add_button{  
    
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    width: 110px;
    transition-duration: 1s;
    border-radius: 4px;
    background-color: white;
    color: #9A9A9A;
    border: 2px solid #e7e7e7;
}

.main .main-center .formAdd .add_indigrients .add_indig_button .add_button:hover{
    background-color: #9A9A9A;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.main .main-center .formAdd .add_indigrients .area_add_indigrients{
    display: flex;
    flex-direction: column;
    width: 362px;
    align-self: flex-end;
}

.main .main-center .formAdd .add_indigrients .area_add_indigrients .wrapper_indigrients{
    display: flex;
    flex-direction: row;
    
}

.main .main-center .formAdd .add_indigrients .area_add_indigrients .wrapper_indigrients .indigrient{
    border-radius: 4px;
    background-color: white;
    color: #9A9A9A;
    line-height: 20px;
    padding: 2px 2px;
    margin: 4px 2px;
    border: 2px solid #e7e7e7;
    transition-duration: 1s;
    max-width: 127px;
    width: 100%;
} 

.main .main-center .formAdd .add_indigrients .area_add_indigrients .wrapper_indigrients .indigrient:hover{ 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   
} 

.main .main-center .formAdd .add_indigrients .area_add_indigrients .wrapper_indigrients .amount{
    border-radius: 4px;
    background-color: white;
    color: #9A9A9A;
    line-height: 20px;
    padding: 2px 2px;
    margin: 4px 2px;
    border: 2px solid #e7e7e7;
    transition-duration: 1s;
    max-width: 42px;
    width: 100%;
}

.main .main-center .formAdd .add_indigrients .area_add_indigrients .wrapper_indigrients .amount:hover{ 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   
} 

.main .main-center .formAdd .add_indigrients .area_add_indigrients .wrapper_indigrients .measure{
    border-radius: 4px;
    background-color: white;
    color: #9A9A9A;
    line-height: 20px;
    padding: 4px 2px;
    margin: 4px 2px;
    border: 2px solid #e7e7e7;
    transition-duration: 1s;
    max-width: 60px;
    width: 100%;
}

.main .main-center .formAdd .add_indigrients .area_add_indigrients .wrapper_indigrients .measure:hover{ 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   
}  

.main .main-center .formAdd .add_indigrients .area_add_indigrients .wrapper_indigrients .amount::placeholder{
    color: #9A9A9A;
    opacity: 0.5;
}

.main .main-center .formAdd .add_indigrients .area_add_indigrients .wrapper_indigrients .indigrient::placeholder{
    color: #9A9A9A;
    opacity: 0.5;
}

.main .main-center .formAdd .add_indigrients .area_add_indigrients .wrapper_indigrients .removeclass{
    display: inline-block;
    align-self: center;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100px;
    transition-duration: 1s;
    border-radius: 4px;
    background-color: white;
    color: #9A9A9A;
    border: 2px solid #e7e7e7;
}

.main .main-center .formAdd .add_indigrients .area_add_indigrients .wrapper_indigrients .removeclass:hover{
    background-color: #9A9A9A;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.main .main-center .formAdd .inputRecept{
    display: flex;
}

.main .main-center .formAdd .inputRecept .inputReceptPicture .inputReceptDescription{
}

.main .main-center .formAdd .inputRecept .inputReceptPicture .inputReceptDescription .wrapper_Text{
    
}

.main .main-center .formAdd .inputRecept .inputReceptPicture .inputReceptDescription .wrapper_Text .text{
    display: flex;
    flex-direction: row;
}

.main .main-center .formAdd .inputRecept .inputReceptPicture .inputReceptDescription .wrapper_Text .text .textRecept{
    display: flex;
    resize: none;
    border-radius: 4px;
    background-color: white;
    color: #9A9A9A;
    line-height: 20px;
    padding: 2px 2px;
    margin: 4px 2px;
    border: 2px solid #e7e7e7;
    width: 350px;
    height: 150px;
}



.main .main-center .formAdd .inputRecept .inputReceptPicture .inputReceptDescription .wrapper_Text .textRecept::placeholder{
    color: #9A9A9A;
    opacity: 0.5;
    
}

.main .main-center .formAdd .inputRecept .inputReceptPicture{
    display: flex;
    flex-direction: column;
    
    
}
.main .main-center .formAdd .inputRecept .inputReceptPicture .add_picture_button{
    display: flex;
    align-items: center;
}

.main .main-center .formAdd .inputRecept .inputReceptPicture .add_picture_button .add_button_picture{
    height: 40px;
    justify-self: center;
    align-items: center;    
    padding: 2px 2px;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    width: 110px;
    line-height: 16px;
    transition-duration: 1s;
    border-radius: 4px;
    background-color: white;
    color: #9A9A9A;
    border: 2px solid #e7e7e7;
}

.main .main-center .formAdd .inputRecept .inputReceptPicture .add_picture_button .add_button_picture:hover {
    background-color: #9A9A9A;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.main .main-center .formAdd .inputRecept .inputReceptPicture .area_add_picture{
    display: flex;
    flex-direction: column;
}

.main .main-center .formAdd .inputRecept .inputReceptPicture .area_add_picture .wrapper_Image{
    display: flex;
    flex-direction: row;
}

.main .main-center .formAdd .inputRecept .inputReceptPicture .area_add_picture .wrapper_Image .addpicture{
    
}

.main .main-center .formAdd .inputRecept .area_add_picture .wrapper_Image .removeclassimage{
    display: inline-block;
    align-self: center;
    padding: 8.3px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    width: 110px;
    transition-duration: 1s;
    border-radius: 4px;
    background-color: white;
    color: #9A9A9A;
    border: 2px solid #e7e7e7;
}

.main .main-center .formAdd .inputRecept .area_add_picture .wrapper_Image .removeclassimage:hover{
    background-color: #9A9A9A;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.main .main-center .formAdd .saveButton{
    display: inline-block;
    align-self: center;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    width: 160px;
    transition-duration: 1s;
    border-radius: 4px;
    background-color: white;
    color: #9A9A9A;
    border: 2px solid #e7e7e7;
    margin-top: 40px;
    
}

.main .main-center .formAdd .saveButton:hover {
    background-color: #9A9A9A;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type="file"]{
    display: none;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.custom-file-upload {
    display: inline-block;
    padding: 5px 5px; 
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    width: 96px;
    text-align: center;
    transition-duration: 1s;
    border-radius: 4px;
    background-color: white;
    color: #9A9A9A;
    border: 2px solid #e7e7e7;
}

.custom-file-upload:hover{
    background-color: #9A9A9A;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



